.contactCard {
  position: relative;
  background: $bg2;
  width: 100%;
  z-index: 3;
  border-radius: 0 0.5rem 0.5rem 0;

  .title {
    position: sticky;
    top: 0;
    padding: 0.5rem 20px 1rem;
    background: $bg3;
    border-bottom: 1px solid $highlights;
    border-radius: 0 0.5rem 0 0;
    text-align: center;
    z-index: 4;
    .fullName { font-size: 1.2rem; }
    .company { font-size: 1rem; }
    > * {
      overflow: scroll;
    }
  }

  .details {
    .cardSection {
      padding: 0.5rem 5px 2rem;
      &:not(:last-child) { border-bottom: 1px solid $faint;}

      .heading {
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
      }

      .entry {
        display: flex;
        margin: 0 10px;
        padding: 0.5rem 0 0.5rem 1rem;
        &:not(:last-child) { border-bottom: 1px solid $veryFaint; }
      }

      .type {
        flex-basis: 70px;
        min-width: 70px;
        font-size: 0.8rem;
        margin-right: 10px;
      }

      .data {
        font-size: 0.9rem;
        flex-grow: 1;
        margin-right: 10px;
        overflow-x: scroll;
      }

      .primary {
        margin-left: auto;
        margin-right: $priOfsett;
        font-size: 0.8rem;
        color: $dark2;
      }

      .note {
        font-size: 0.9rem;
        padding: 0.5rem 0.5rem 0.5rem 1rem;
        line-height: 1.5;
      }

      &.address .entry {
        flex-wrap: wrap;
        .data {
          flex-grow: 0;
          margin-right: 1rem;
          margin-bottom: 1rem;
          div {
            overflow-x: scroll;
          }
        }
        img[id^='googleMaps'] { border-radius: 0.25rem; }
      }
    }
  }

  .edits {
    position: sticky;
    bottom: 0;
    color: $dark;
    font-size: 0.8rem;
    background: $bg3;
    padding: 0.5rem 10px;
    border-top: 1px solid $highlights;
    border-radius: 0 0 0.5rem 0;
    display: flex;
    justify-content: space-between;
    z-index: 4;
    div {
      margin: auto 0;
      cursor: pointer;
    }
  }

  &.addContact {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
  }
}

img.btn-close {
  position: absolute;
  top: 10px;
  left: 10px;
  float: left;
  width: $btnSize;
  height: $btnSize;
}

@media only screen and (max-width: 768px) {
  .contactCard {
    border-radius: 0;
    .title,
    .edits {
      border-radius: 0;
    }
  }
}


@media only screen and (max-width: 559px) {
  .contactCard.addContact {
    position: relative;
  }
}
