.settingsView {
  font-family: $family;
  .settingDiv { margin: 20px 10px; }
  .setting {
    display: inline-block;
    font-size: 0.9rem;
    margin-bottom: 5px;
    width: 100%;
    color: $dark;
    border-bottom: 1px solid $dark;
  }
  .toggle { margin: 0 10px; }

  img {
    height: 1rem;
    transform: translateY(25%);
  }
}
