.viewContainer {
  overflow: hidden;
  background-color: $bg2;
  border-radius: $borderRadius;

  .view {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: grid;
    &.splitView { grid-template: 1fr / 240px 1fr; }
    &.fullView {
      box-sizing: border-box;
      grid-template: $fullPanelHeadingHeight 1fr / 1fr;
    }
    &.narrowView {
      grid-template: 1fr / 100% 100%;
      overflow: hidden; // TODO - temporary

      .mainPanel {
        transform: translateX(-100%);
        &.slideLeft { animation: 0.5s ease-in-out forwards slideLeft; }
        &.slideRight { animation: 0.5s ease-in-out reverse slideLeft; }
      }
    }
  }

  .mainPanelContainer, .sidePanelContainer {
    height: calc(100vh - #{2 * $globalPadding});
    box-sizing: border-box;

    .sidePanel {
      @include viewPanels;
      &-heading {
        background-color: $bg3;
        padding: 2px 4px;
        border-bottom: 1px solid $highlights;
        .heading {
          font-size: 1.5rem;
          padding: 5px 2px;
        }

        &.contactsView-sidePanelHeading {
          display: grid;
          grid-template: 1fr / 1fr $btn-size;
          padding-bottom: 5px;
          .heading {}
          .addContact-btn img { transform: rotateZ(45deg);}
        }
      }
    }

    .mainPanel { @include viewPanels; }
  }

  .sidePanelContainer {
    display: flex;
    flex-direction: column;
    border-right: 2px solid $highlights;
  }


  .fullPanelContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: calc(100vh - #{2 * $globalPadding});
    .fullPanel {
      @include viewPanels;
      &-heading {
        @include viewPanels;
        height: $fullPanelHeadingHeight;
        overflow: hidden;
        background-color: $bg3;
        border-bottom: 1px solid $highlights;
        font-size: 1.5rem;
        padding: 5px 0 10px 10px;
      }
    }
  }

  .groupsViewContainer {
    height: 100%;
    display: grid;
    overflow-x: hidden;
    grid-template: 1fr / 100% 100%;

    &.slideLeft .groupsView { animation: 0.5s ease-in-out slideLeft; }
    &.slideRight .groupsView { animation: 0.5s ease-in-out reverse slideLeft; }
    .groupsView.transform { transform: translateX(-100%) }

    .fullPanel-heading { padding: 10px }
    .sidePanel-heading {
      display: flex;
      .heading {
        flex-grow: 1;
        text-align: right;
        overflow: scroll;
        padding-left: 10px;
        width: calc(100% - 22px)
      }
      .btn { min-width: $btn-size }
    }

    .splitView {background: $bg2}

  }
}

.settingsView {
  .settingDiv { margin: 20px 10px; }
  .setting {
    display: inline-block;
    font-size: 0.9rem;
    margin-bottom: 5px;
    width: 100%;
    color: $dark;
    border-bottom: 1px solid $dark;
  }
  .options {display: flex}
  .toggle {
    margin: 0 10px;
    height: 1.7rem;
    width: 1.7rem;
    img {
      padding: 0;
      transform: translateY(-4px);
    }
  }
}




@media only screen and (max-width: 889px) {
  .viewContainer {
    border-radius: 0;
    .mainPanelContainer, .sidePanelContainer, .fullPanelContainer {
      height: calc(100vh - #{$medNavHeight});
    }
  }
}

@media only screen and (max-width: 559px) {
  .mainPanelContainer, .sidePanelContainer, .fullPanelContainer {
    height: calc(100vh - #{$smallNavHeight});
  }
}



// Absolute min design for is 320px, i.e. iphone 4s
// make sure contactCard is always >= 450px, unless screen < 450px        // Target contactCard 450 - 540 ??? (540 at full view)
// In which case, make sure map is below address

// ALL CASES

// 320px to 449px
// no split panes, map below address, navbar at bottom
// not, done, done


// 450 to 559
// no split panes, normal map here on out, navbar at bottom
// not, done, done

// 560 to 689
// no split view, navbar at top
// not, done


// 690 to 889
// split view. navbar at top
// DONE

// 890++
// full view, side navbar
// DONE


