.navbar {
  padding-top: 1rem;
  .navItem {
    color: inherit;
    text-decoration: none;
    list-style: none;
    font-size: 1.3rem;
    text-transform: capitalize;
    cursor: pointer;
    display: flex;
    margin: 5px;
    >div { margin: auto 5px; }
    .navIcon {
      width: $navIconSize;
      height: $navIconSize;
      svg {
        float: left;
        width: 100%;
        height: 100%;
      }
    }
    &:active { transform: translateY(2px); }
    &.active {
      color: $active;
      svg path {
        fill: $active !important;
        stroke: $active !important;
      }
    }
  }
}

.settingsTippy{
  padding: 20px;
  color: white;
  border-radius: 0.5rem;
}

@media only screen and (max-width: 768px) {
  .navbar {
    padding: 0;
    display: flex;
    justify-content: space-around;
    border-bottom: 3px solid $faint;
    .navItem { font-size: 1.2rem; }
  }
}


// Narrow screens / Mobile
// Have navbar at bottom if mobile
@media only screen and (max-width: 559px) {
  .navbar {
    grid-row: 2 / 3;
    border: none;
    border-top: 2px solid $faint;
    .navItem {
      flex-direction: column;
      text-align: center;
      margin: 0;
      .navHeading {
        font-size: 0.8rem;
        line-height: 1rem;
      }

      .navIcon {
        margin: auto;
        padding: 0;
        svg { float: none; }
      }

    }
  }
}