.page {
  margin: 5px auto;
  background: $bg1;
  display: grid;
  grid-template: 1fr / 180px 1fr;
  border-radius: 0.35rem;
  max-width: 980px;
  height: calc(100% - 10px);
}

.navbar {
  padding-top: 1rem;
  a {
    color: inherit;
    text-decoration: none;
    list-style: none;
    font-size: 1.3rem;
    text-transform: capitalize;
    cursor: pointer;
  }
  .active {
    li, ion-icon {
      color: $active;
    }
  }
}

.navItem {
  outline: none;
  display: flex;
  margin: 5px;
  &:active { transform: translateY(2px); }
  div { margin: 0 5px; }
  li {
    list-style: none;
    text-transform: capitalize;
  }
  ion-icon { font-size: 1.5rem; }
}

.viewContainer {
  background: $bg2;
  overflow: hidden;
  border-radius: 0.35rem;
}
