.cardSectionContainer {
  &:not(:last-child) {
    border-bottom: 1px solid $faint;
  }
}

.cardSection {
  padding: 0.5rem 5px 2rem;

  .validationMessage {
    color: $red;
    font-size: 0.8rem;
    margin-left: 10px;
    margin-top: 10px;
    animation: 5s ease fadeOut forwards;
    text-transform: initial;
  }

  .heading {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
  }

  .entry {
    display: flex;
    margin: 0 10px;
    padding: 0.5rem 0 0.5rem 1rem;
    &:not(:last-child) { border-bottom: 1px solid $veryFaint; }
  }

  .type {
    flex-basis: 70px;
    min-width: 70px;
    font-size: 0.8rem;
    margin-right: 10px;
  }

  select {
    border-radius: 0.25rem;
  }

  .data {
    font-size: 0.9rem;
    flex-grow: 1;
    margin-right: 10px;
    overflow-x: scroll;
  }

  .primary {
    margin-left: auto;
    margin-right: $primaryOffset;
    font-size: 0.8rem;
    color: $dark2;
  }

  &.name .type {
    flex-basis: 80px;
    min-width: 80px;
    margin: auto 10px auto 0;
  }

  &.address .entry {
    flex-wrap: wrap;
    .type {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
    }
    .btn {
      grid-row: 2 / -1;
      grid-column: 1 / 2;
    }
    .data {
      height: 100%;
      grid-row: 1 / -1;
      grid-column: 2 / -1;
      flex-grow: 0;
      margin-right: 1rem;
      margin-bottom: 1rem;
      &:not(.edit) {
        display: grid;
        grid-template: 1fr / 1fr 150px;
        grid-gap: 5px;
        @media only screen and (max-width: 449px) {
          display: block;
          .mapImage { margin-top: 10px; }
        }
      }
      .mapImage {
        width: 150px;
        height: 150px;
      }
    }
    img { border-radius: 0.25rem; }
  }

  &.dates .type {
    flex-basis: 100px;
    min-width: 100px;
  }

  &.other .type {
    flex-basis: 90px;
    min-width: 90px;
  }

  &.notes {
    .note {
      font-size: 0.9rem;
      padding: 0.5rem 0.5rem 0.5rem 1rem;
      line-height: 1.5;
      margin-bottom: 1rem;
    }
    textarea {
      background: $veryFaint;
      outline: none;
      border: none;
      box-sizing: border-box;
      border-radius: 0.25rem;
      padding: 10px;
      width: calc(100% - 20px);
      font-family: montserrat, arial, sans-serif;
      font-size: 0.8rem;
      font-weight: 400;
      line-height: 1.5;
      resize: none;
      margin-left: 5px;
    }
  }
}
