.view.groups {
  position: relative;
  display: block;
  overflow-y: scroll;

  > .heading {
    @include mainHeading;
    display: flex;
    h1 { margin: 0.5rem 0; }
    .add {
      margin: 10px 10px auto auto;
    }
  }

  .groupsList {
    &.blur {
      filter: blur(3px);
    }

    .groupSummary {
      display: grid;
      grid-template: 28px 14px / 8fr 70px;
      grid-gap: 5px;
      margin: 0 10px;
      padding: 10px 15px;
      border-bottom: 1px solid rgba(0,0,0,.2);
      max-width: 100%;
      cursor: pointer;

      &:hover {
        color: $highlights2;
      }

      .groupName {
        font-size: 1.3rem;
        overflow-x: scroll;
        white-space: nowrap;
        &.edit {
          background: $veryFaint;
          font-weight: 300;
          height: 1.2rem;
          min-width: 100px;
          border: none;
          outline: none;
          border-radius: 0.25rem;
          padding: 0.2rem;
          padding-left: 0.5rem;
          margin-right: $priOfsett;
          text-overflow: ellipsis;
          white-space: nowrap;
          &::-webkit-inner-spin-button { -webkit-appearance: none; }
        }
      }

      .groupPreview {
        font-size: 0.8rem;
        overflow: hidden;
        margin-right: 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 16px;
        span {
          margin: 0;
          padding-right: 10px;
        }
      }

      .groupSize {
        grid-row: span 2;
        align-self: center;
      }
    }

    &.edit .groupSummary {
      padding: 10px 15px 10px 0;
      grid-template: 28px 14px / 2rem 8fr 70px;

      .removeEntry {
        grid-row: span 2;
        margin: auto;
      }

      .groupPreview {
        font-size: 0.8rem;
        overflow: visible;
        button { margin: 0; }
      }

      span {
        display: none;
      }
    }
  }

  .btn-editBtn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .newGroup {
    width: 100%;
    max-width: 300px;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.5rem;
    border: 1px solid $faint;
    overflow: hidden;
    z-index: 5;
    label { padding: 5px; }
    input {
      outline: none;
      border: none;
      height: 2rem;
      font-size: 1.2rem;
      padding: 0 5px;
      font-weight: inherit;
    }
  }

  .cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4;
  }


// REIVEW

  .addList {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    border: none;
    background: $bg2;
    z-index: 4;
    .contactsList {
      height: 100%;
      display: flex;
      flex-direction: column;
      .head {
        width: 100%;
        background: $bg2;
        z-index: 4;
        padding: 0 0 10px 10px;
        border-bottom: 1px solid $veryFaint;
        display: grid;
        grid-template: repeat(2, auto) / 1fr 70px;
        button {
          position: relative;
          right: 15px;
        }
      }
      h3 {
        font-weight: inherit;
        font-size: 1.3rem;
        margin: 5px 0;
      }
      p {
        font-size: 0.8rem;
        margin: 0;
      }

      .list {
        padding-left: 10px;
      }
      .addListCon {
        display: flex;
      }
    }
  }

  .consListRadio {
    grid-row: span 2;
    width: 1rem;
    height: 1rem;
    margin: auto 0;
    img {
      width: $btnSize;
      height: $btnSize;
    }
  }
}


// REVIEW
.group {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  z-index: 4;
  width: 100%;
  background: $bg2;
  will-change: bottom;
  &.animate {
    animation: 0.5s slideUp;
  }

  & > * {
    overflow: scroll;
  }

  .sidePanel .title {
    position: sticky;
    top: 0;
  }

  .btn-close {
    left: 0;
    top: 13.5px;
  }
  .groupName {
    margin: 0;
    padding: 5px 0 5px 30px;
    font-weight: 300;
    border-bottom: 1px solid $faint;
    background: $bg3;
  }
  .contact {
      margin: 0;
      padding: 0;
    .name {
      margin: 0 5px;
    }
    &.activeMem li.name {
      @include active;
    }
  }
}
